<div th:fragment="navbar">
<nav >
      <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a th:href="@{/}">Rafmak</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Rafmak</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links" >
         <li >
          <a th:each="category : ${categories}" th:text="${category.name}"  th:href="@{/subCategories/{id}(id=${category.id})}"></a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li class="more" th:each="sub : ${category.subs}">
                <span><a th:href="@{/products/{id}(id=${sub.id})}" th:text="${sub.name}"></a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
                </span>
              </li>
             </ul>
          </li>
          
          
          
         
          <li sec:authorize="hasRole('ROLE_ADMIN')" >
          <span><a th:href="@{/admin}">Administration</a> </span>
         </li>
         
        </ul>
      </div>
      
      <div class="search-box" >
        <i class='bx bxs-user'></i>
        
         <div class="input-box" sec:authorize="hasRole('ROLE_ANONYMOUS')">
          <form th:action="@{/login}" method="post">
             <input class="input1" type="text"  placeholder="Email" name="username" required >
             <input class="input2" type="password" placeholder="Password" name="password" required>
              <button class="login" type="submit">Login</button>
             </form>
             <p>Forgot Password ? <span>Click <a th:href="@{/forgotPassword}" >here</a></span></p>
              
        </div>
        
        <div class="input-box" sec:authorize="isAuthenticated()">
        
        <ul>
          <li>
          <div>
          <a  th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
          </div>
          
          </li>
       </ul>
  
        </div>
      </div>
     
    </div>
  </nav>
           
            
            </div>