<div th:fragment="slider">

<div class="img-slider">
      <div class="slide active">
       <a th:href="@{/products/coats}">
        <img src="/images/debeer2.jpg" alt="">
        </a>
        <div class="info">
          <h2><span id="debeer" >Debeer</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="slide">
       <a th:href="@{/products/primers}">
        <img src="/images/spectro.jpg" alt="">
        </a>
        <div class="info">
          <h2><span id="debeer" >spectrometer</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="slide">
       <a th:href="@{/products/tools}">
        <img class="slide-img" src="/images/mirka.jpg" alt="">
        </a>
        <div class="info">
          <h2><span id="mirka">Mirka</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        
      </div>
      <div class="slide">
      <a th:href="@{/products/guns}">
        <img src="/images/sata.png" alt="">
        </a>
        <div class="info">
        <h2><span id="sata" >Sata</span></h2>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="slide">
      <a th:href="@{/products/safeties}">
        <img src="/images/finixa1.jpg" alt="">
        </a>
        <div class="info">
           <h2><span id="finixa" >Finixa</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>

</div>