<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  <link rel="stylesheet" th:href="@{/css/cart.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:if="${successMessage != null}" class="success-msg">
       <i class="fa fa-check"></i>
        [[${successMessage}]]
      </div>

<br>

  
<h1>Shopping Cart</h1>


   
   <div class="small-container cart-page " th:each="entry, stat : ${products}">
    <table>
     <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
     </tr>
     <tr th:each="product : ${entry.value}">
      <td>
        <div class="cart-info cart">
          <img th:src="${product.imageUrl}">
           <div class="cart1">
            <p th:text="${product.name}"></p>
            <small class="price" th:text="${product.price} + ' den.'"></small>
            <p th:unless="${product.granulations eq null}" th:text="'Granulation: p'+${product.granulations[0].displayValue}"></p>
            <p th:unless="${product.sizes eq null}" th:text="'Size: '+${product.sizes[0].displayValue}"></p>
            
            <br>
            <a  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/removeProductFromCart/{id}(id=${product.id})}">remove</a>
           </div>
        </div>
      </td>
      <td ><input class="qty"  type="number" min="1" value="1" /></td>
      <td > <h5 class="subTotal" id="subTotal"></h5></td>
     </tr>
    </table>
    <div class="total-price">
    
       <table>
       
         <tr>
          <td  >Total</td>
          <td class="cart-total-price">11.00</td>
         </tr>
         
         <tr>
          <td>Shipping</td>
          <td>200</td>
         </tr>
         
         <tr>
          <td>Subtotal</td>
          <td>200</td>
         </tr>
         
       </table>
    </div>
    
   </div>
<br>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
<script type="text/javascript" th:src="@{/js/slider.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>