<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  <link rel="stylesheet" th:href="@{/css/forms.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
  <form th:action="@{/administration/newProduct/{id}(id=${subCategory.id})}" th:object="${product}" enctype="multipart/form-data" method="post">
    <h2>New Product Form</h2>
    <div th:if="${error != null}" class="error-msg">
       <i class="fa fa-times-circle"></i>
        [[${error}]]
       </div>
    <div class="form-group">
      <select  th:field="*{manufacturer}">
      <option th:each="manufacturer : ${manufacturers}"
        th:value="${manufacturer.id}"
        th:text="${manufacturer.name}"
        />
       </select>
      <label  for="select" class="control-label">Manufacturer</label><i class="bar"></i>
    </div>
    
    <div class="form-group">
      <input th:field="*{name}" type="text" maxlength="100" required="required"/>
      <label for="input" class="control-label">Product Name</label><i class="bar"></i>
    </div>
    
    <div class="form-group">
      <textarea th:field="*{description}" maxlength="250" required="required"></textarea>
      <label for="textarea" class="control-label">Product Description</label><i class="bar"></i>
    </div>
    
    <div th:unless="${subCategory.id eq 1 OR subCategory.id eq 2 OR subCategory.id eq 3 OR subCategory.id eq 4 OR subCategory.id eq 5}" class="form-group">
      <input  th:field="*{price}" maxlength="10" required="required"/>
      <label for="textarea" class="control-label">Product Price</label><i class="bar"></i>
    </div>
    
    <div class="form-group"  th:if="${subCategory.id eq 1 OR subCategory.id eq 2 OR subCategory.id eq 3 OR subCategory.id eq 4 OR subCategory.id eq 5 OR subCategory.id eq 12 OR subCategory.id eq 13}  ">
      <select th:name="dimension" >
    
      <option th:each="dimension : ${T(com.example.erafmak.enums.Dimension).values()}"
      
      th:value="${dimension}"
            th:text="${dimension.displayValue}"/>
       </select>
      <label  for="select" class="control-label">Select dimension</label><i class="bar"></i>
      
    </div>
    
    <div class="form-group">
      <input type="file" name="fileImage" id="fileImage"  required="required"/>
      <label for="fileName" class="control-label">Image</label><i class="bar"></i>
    </div>
   
    
       <div class="form-group" th:if="${subCategory.id eq 6 OR subCategory.id eq 7 OR subCategory.id eq 8 OR subCategory.id eq 9 OR subCategory.id eq 10}  ">
     <select th:name="weigth" >
    
      <option th:each="weigth : ${T(com.example.erafmak.enums.Weigth).values()}"
      
      th:value="${weigth}"
            th:text="${weigth.displayValue}"/>
       </select>
      <label  for="select" class="control-label">Select Weight</label><i class="bar"></i>
    </div>
    
    <div  th:if="${subCategory.id eq 1 OR subCategory.id eq 2 OR subCategory.id eq 3 OR subCategory.id eq 4 OR subCategory.id eq 5}">
      <h3>Select Granulations</h3>
    
      <ul>
       <li th:each="granulation : ${T(com.example.erafmak.enums.Granulation).values()}">
        <input  type="checkbox" th:name="granulations" th:value="${granulation}" />
         <label  th:text="${granulation.displayValue}"></label>
       </li>
      </ul>
      
    </div>
    
    
    
    <div  th:if="${subCategory.id eq 15}  ">
      <h3>Select Sizes</h3>
    
      <ul>
       <li th:each="size : ${T(com.example.erafmak.enums.Size).values()}">
        <input  type="checkbox" th:name="sizes" th:value="${size}" />
         <label  th:text="${size.displayValue}"></label>
       </li>
      </ul>
      
    </div>
    
    <div  th:if="${subCategory.id eq 16}  ">
      <h3>Select Nozzle Sizes</h3>
    
      <ul>
       <li th:each="nozzle : ${T(com.example.erafmak.enums.Nozzle).values()}">
        <input  type="checkbox" th:name="nozzle" th:value="${nozzle}" />
         <label  th:text="${nozzle.displayValue}"></label>
       </li>
      </ul>
      
    </div>
 
    <h3>Select Matching Hardeners</h3>
    
    <ul>
  <li th:each="hardener : ${hardeners}">
    <input type="checkbox" th:field="*{hardeners}" th:value="${hardener.id}" />
    <label  th:text="${hardener.name}"></label>
  </li>
</ul>
  
     <div class="button-container">
    <button type="submit" class="button"><span>Submit</span></button>
  </div>
  </form>
 
</div>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>