<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>
<br>
<div th:if="${param.delete}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully deleted product from the products list  !!!
      </div>
      <div class="pill-nav">
  <a th:href="@{/products/coats}">Coats</a>
  <a th:href="@{/products/primers}">Primers</a>
  <a th:href="@{/products/hardeners}">Hardeners</a>
  <a th:href="@{/products/thinners}">Thinners</a>
  <a  class="active" th:href="@{/products/putties}">Putties</a>
</div>
<h1 class="middle">Putties</h1>

 <section class='roomsList'>
            <div class='roomslist-center'>
             <article class='room' th:each="putty : ${putties}" >
            <div class='img-container'>
              <img th:src="${putty.imageUrl}" alt='sander image'/>
              <div class="price-top">
                  <h6 th:text = "${putty.price}"></h6>
                  <p>MKD</p>

              </div>
              <a th:href="@{/products/putty/{id}(id=${putty.id})}" class='btn-primary room-link'>
                  Details 
                  </a>
            </div>
            <p class='room-info' th:text="${putty.name} + ' ' + ${putty.weigth.displayValue}"></p>
        </article>

            </div>
        </section>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>