<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>
<br>
<div th:if="${error != null}" class="error-msg">
<br> <br> <br>
       <i class="fa fa-times-circle"></i>
       [[${error}]]
       </div>
       <div th:if="${param.price}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the price of the product !!!
      </div>
      
      <div th:if="${param.name}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the name of the product  !!!
      </div>
      <div th:if="${param.description}" class="success-msg">
       <i class="fa fa-check"></i>
       You've successfully updated the description of the product  !!!
      </div>
      <div th:if="${param.manufacturer}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the manufacturer of the product  !!!
      </div>
      <div th:if="${param.available}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the availability of the product  !!!
      </div>
      <div th:if="${param.image}" class="success-msg">
       <i class="fa fa-check"></i>
       You've successfully updated the image of the product  !!!
      </div>
      <div th:if="${param.disconnect}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully disconnected the hardener from the product list  !!!
      </div>
      <div th:if="${param.weight}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the weight of the product list  !!!
      </div>

 <section class='section cocktail-section' th:object="${product}">
 
       <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/deleteProduct/{id}(id=${product.id})}">Delete this Product</a>
       
       <h2 class ='section-title' th:text="*{name}"></h2>
       <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/updateProductName/{id}(id=${product.id})}" method="post"  >
          <input maxlength="100" type="text" name="name" placeholder="update name" >
          <button>change</button>
          </form>
          </div>
      
       <div class ='drink'>
       <div>
        <img class="single"  th:src="*{imageUrl}" alt='image' />
       <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addProductToCart/{id}(id=${product.id})}">Add</a>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/updateProductImage/{id}(id=${product.id})}" enctype="multipart/form-data" method="post"  >
          <input type="file" name="fileImage" id="fileImage"  required="required"/>
                  <button>change</button>
          </form>
          </div>
        </div>
        
         <div class="container">
           <div class="header"><h3>Details</h3></div>
            <div class="main">
             <div class="leftSide">
              
               <div class='drink-info'>
                 
          <div th:unless="${weight eq null}">
          <p  >
          Liters :
            <span th:text="${weight.weigth.displayValue}" class='drink-data'>Lt.</span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/updateProductWeigth/{id}(id=${product.id})}"  method="post"  >
          <select th:field="*{weigth}" >
          <option th:each="weigth : ${T(com.example.erafmak.enums.Weigth).values()}"
            th:value="${weigth}"
            th:text="${weigth.displayValue}"/>
          </select>
                  <button>change</button>
          </form>
          </div>
          </div>
          
          <div th:unless="${dimension eq null}">
          <p  >
          Dimension :
            <span th:text="${dimension.dimension.displayValue}" class='drink-data'>Mm</span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/updateProductDimension/{id}(id=${product.id})}"  method="post"  >
         <select th:name="dimension" >
               <option th:each="dimension : ${T(com.example.erafmak.enums.Dimension).values()}"
                 th:value="${dimension}"
                 th:text="${dimension.displayValue}"/>
               </select>
                  <button>change</button>
          </form>
          </div>
          </div>
          
          
          
          <div th:unless="${product.subCategory.id eq 1 OR product.subCategory.id eq 2 OR product.subCategory.id eq 3 OR product.subCategory.id eq 4 OR product.subCategory.id eq 5}">
          <p >
          Price :
            <span th:text="*{price} + ' ' + mkd" class='drink-data'>MKD</span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
          <form th:action="@{/updateProductPrice/{id}(id=${product.id})}" method="post" >
          <input maxlength="10" type="text" name="price" placeholder="update price here" >
          <button>change</button>
          </form>
          </div>
          </div>
          <p >
          Manufacturer
            <span th:text="*{manufacturer.name}" class='drink-data'></span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
          <form th:action="@{/updateProductManufacturer/{id}(id=${product.id})}" method="post" >
          <select  th:name="manufacturer">
            <option th:each="manufacturer : ${manufacturers}"
              th:value="${manufacturer.name}"
              th:text="${manufacturer.name}"/>
          </select>
          <button>change</button>
          </form>
          </div>
          <div>
          <p>
          Available :
          <i style="font-size:20px;color:green" th:if="${product.isAvailable eq true}"  class="fas fa-check"></i>
              <i style="font-size:20px;color:red" th:unless="${product.isAvailable eq true}"  class="fas fa-close"></i>
          </p>
          <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/setAvailabilityToProduct/{id}/(id=${product.id})}" method="post">
              <button th:if="${product.isAvailable eq true}">Set Not Available</button>
              <button th:unless="${product.isAvailable eq true}">Set Available</button>
           </form>
          
          </div>
        </div>
              
              
              
              
              </div>
              <div class="rightSide">
              <div class="thirdItem">
              
               <ul th:unless="${granulations eq null}">
               <h5>Granulations</h5>
              <li th:each="gran : ${granulations}"> <p>
              <i style="font-size:20px;color:green" th:if="${gran.isAvailable eq true}"  class="fas fa-check"></i>
              <i style="font-size:20px;color:red" th:unless="${gran.isAvailable eq true}"  class="fas fa-close"></i>
               <span  th:text="'p'+${gran.granulation.displayValue} + ' : ' + ${gran.price}+' den '" ></span>
                     </p>
              <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addProductWGToCart/{id}/{gid}(id=${product.id}, gid=${gran.id})}">Add</a>
                     
               <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/updateProductGranulationPrice/{id}/{sid}(id=${product.id},sid=${gran.id})}" method="post">
                 <input maxlength="10" name="price" placeholder="set new price" type="text"/>
                  <button >update</button>
                  </form>
                  
                <form th:action="@{/updateProductGranulationAvailability/{id}/{sid}(id=${product.id},sid=${gran.id})}" method="post">
                  <button th:if="${gran.isAvailable eq true}">Set Not Available</button>
                  <button th:unless="${gran.isAvailable eq true}">Set Available</button>
                </form>
                
                <form th:action="@{/deleteProductGranulation/{id}/{sid}(id=${product.id},sid=${gran.id})}" method="post">
                 <button >Remove</button>
                </form>
                <br>
                <hr>
                
               </div>
               </li>
             </ul>
             <p th:if="${product.subCategory.id eq 1 OR product.subCategory.id eq 2 OR product.subCategory.id eq 3 OR product.subCategory.id eq 4 OR product.subCategory.id eq 5}"
                    sec:authorize="hasRole('ROLE_ADMIN')">add more granulations <span><a  th:href="@{/addNewProductGranulations/{id}(id=${product.id})}">here</a></span></p>
             <ul th:unless="${sizes eq null}">
               <h5>Sizes</h5>
              <li th:each="size : ${sizes}"> <p>
              <i style="font-size:20px;color:green" th:if="${size.isAvailable eq true}"  class="fas fa-check"></i>
              <i style="font-size:20px;color:red" th:unless="${size.isAvailable eq true}"  class="fas fa-close"></i>
               <span  th:text="${size.size.displayValue}" ></span>
                     </p>
             <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addProductWSToCart/{id}/{sid}(id=${product.id}, sid=${size.id})}">Add</a>
                     
               <div sec:authorize="hasRole('ROLE_ADMIN')">
                
                  
                <form th:action="@{/updateProductSizeAvailability/{id}/{sid}(id=${product.id},sid=${size.id})}" method="post">
                  <button th:if="${size.isAvailable eq true}">Set Not Available</button>
                  <button th:unless="${size.isAvailable eq true}">Set Available</button>
                </form>
                
                <form th:action="@{/deleteProductSize/{id}/{sid}(id=${product.id},sid=${size.id})}" method="post">
                 <button >Remove</button>
                </form>
                <br>
                <hr>
                
               </div>
               </li>
              </ul>
               <p th:if="${product.subCategory.id eq 15}"  sec:authorize="hasRole('ROLE_ADMIN')">add new sizes <span><a  th:href="@{/addNewProductSizes/{id}(id=${product.id})}">here</a></span></p>
             
             <ul th:unless="${nozzles eq null}">
               <h5>Nozzles</h5>
              <li th:each="nozzle : ${nozzles}"> <p>
              <i style="font-size:20px;color:green" th:if="${nozzle.isAvailable eq true}"  class="fas fa-check"></i>
              <i style="font-size:20px;color:red" th:unless="${nozzle.isAvailable eq true}"  class="fas fa-close"></i>
               <span  th:text="${nozzle.nozzle.displayValue}" ></span>
                     </p>
               <div sec:authorize="hasRole('ROLE_ADMIN')">
                
                  
                <form th:action="@{/updateProductNozzleAvailability/{id}/{sid}(id=${product.id},sid=${nozzle.id})}" method="post">
                  <button th:if="${nozzle.isAvailable eq true}">Set Not Available</button>
                  <button th:unless="${nozzle.isAvailable eq true}">Set Available</button>
                </form>
                
                <form th:action="@{/deleteProductNozzle/{id}/{sid}(id=${product.id},sid=${nozzle.id})}" method="post">
                 <button >Remove</button>
                </form>
                <br>
                <hr>
                
               </div>
               </li>
             </ul>
             <p th:if="${product.subCategory.id eq 16}"  sec:authorize="hasRole('ROLE_ADMIN')">add new nozzle <span><a  th:href="@{/addNewProductNozzles/{id}(id=${product.id})}">here</a></span></p>
             <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${product.subCategory.id eq 1 OR product.subCategory.id eq 2 OR product.subCategory.id eq 3 OR product.subCategory.id eq 4 OR product.subCategory.id eq 5 OR product.subCategory.id eq 12 OR product.subCategory.id eq 17 OR product.subCategory.id eq 9}">
              <p >Connect Product to Product  <span><a  th:href="@{/connectProductToList/{id}(id=${product.id})}">here</a></span></p>
             </div>
        </div>
        
       <div>
       
                 </div>
                </div>
               </div>
              </div>
               
             </div>
             <div >
               <article class='desc'>
                 
                  <h6 th:text="*{description}"></h6>
                  <div sec:authorize="hasRole('ROLE_ADMIN')">
                  <form th:action="@{/updateProductDescription/{id}(id=${product.id})}" method="post"  >
                   <textarea maxlength="250" name="description" placeholder="update description" ></textarea>
                   <button>change</button>
                  </form>
                  </div>
               </article>
              </div>
             <br><br>
             
       <div>
       
         <h2 class="middle">Matching Products</h2>
       </div>
       <br><br>
       
        <div class='roomslist-center'>
             <article class='room' th:each="prod : ${product.products}" >
            <div class='img-container'>
              <img th:src="${prod.imageUrl}" alt='product image'/>
              <div class="price-top">
                  <h6 th:text = "${prod.price}"></h6>
                  <p>MKD</p>

              </div>
              <a th:href="@{/product/{id}(id=${prod.id})}" class='btn-primary room-link'>
                  Details 
                  </a>
            </div>
            <p class='room-info' th:text="${prod.name}"></p>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/disconnectProductFromProductList/{id}/{pid}(id=${product.id}, pid=${prod.id})}" method="post">
            <button>Remove</button>
            </form>
        </article>

            </div>
    </section>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>
