<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>

<br>
<div th:if="${error != null}" class="error-msg">
<br> <br> <br>
       <i class="fa fa-times-circle"></i>
       [[${error}]]
       </div>
       <div th:if="${param.price}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the price of the product !!!
      </div>
      
      <div th:if="${param.name}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the name of the product  !!!
      </div>
      <div th:if="${param.description}" class="success-msg">
       <i class="fa fa-check"></i>
       You've successfully updated the description of the product  !!!
      </div>
      <div th:if="${param.manufacturer}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the manufacturer of the product  !!!
      </div>
      <div th:if="${param.available}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully updated the availability of the product  !!!
      </div>
      <div th:if="${param.image}" class="success-msg">
       <i class="fa fa-check"></i>
       You've successfully updated the image of the product  !!!
      </div>
      <div th:if="${param.disconnect}" class="success-msg">
       <i class="fa fa-check"></i>
        You've successfully disconnected the nozzle from the product  !!!
      </div>
     

 <section class='section cocktail-section' th:object="${sprayGun}">
 
       <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/deleteSprayGun/{id}(id=${sprayGun.id})}">Delete this Coat</a>
 
       <div>
       <h2 class ='section-title' th:text="*{name}"></h2>
       <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/products/updateSprayGunName/{id}(id=${sprayGun.id})}" method="post"  >
          <input maxlength="100" type="text" name="name" placeholder="update name" >
          <button>change</button>
          </form>
          </div>
        </div>
       <div class ='drink'>
         <div>
        <img class="single"  th:src="*{imageUrl}" alt='image' />
        
        <div sec:authorize="hasRole('ROLE_ADMIN')">
       <form th:action="@{/products/updateSprayGunImage/{id}(id=${sprayGun.id})}" enctype="multipart/form-data" method="post"  >
          <input type="file" name="fileImage" id="fileImage"  required="required"/>
                  <button>change</button>
          </form>
          </div>
        </div>
        
         <div class="container">
           <div class="header"><h3>Details</h3></div>
            <div class="main">
             <div class="leftSide">
               <article class='desc'>
                 
                  <h6 th:text="*{description}"></h6>
                  <div sec:authorize="hasRole('ROLE_ADMIN')">
                   <form th:action="@{/products/updateSprayGunDescription/{id}(id=${sprayGun.id})}" method="post"  >
                     <textarea maxlength="250" name="description" placeholder="update description" ></textarea>
                      <button>change</button>
                    </form>
                   </div>
               </article>
              </div>
              <div class="rightSide">
              <div class="thirdItem">
                <div class='drink-info'>
        
          <p >
          Price :
            <span th:text="*{price} + ' ' + mkd" class='drink-data'>MKD</span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
           <form th:action="@{/products/updateSprayGunPrice/{id}(id=${sprayGun.id})}" method="post" >
            <input maxlength="10" type="text" name="price" placeholder="update price here" >
            <button>change</button>
           </form>
          </div>
          <p >
          Manufacturer
            <span th:text="*{manufacturer.name}" class='drink-data'></span> 
          </p>
         <div sec:authorize="hasRole('ROLE_ADMIN')">
          <form th:action="@{/products/updateSprayGunManufacturer/{id}(id=${sprayGun.id})}" method="post" >
          <select  th:name="manufacturer">
            <option th:each="manufacturer : ${manufacturers}"
              th:value="${manufacturer.name}"
              th:text="${manufacturer.name}"/>
          </select>
          <button>change</button>
          </form>
          </div>
          <div>
           <p>
          Available :
          <i style="font-size:20px;color:green" th:if="${sprayGun.isAvailable eq true}"  class="fas fa-check"></i>
              <i style="font-size:20px;color:red" th:unless="${sprayGun.isAvailable eq true}"  class="fas fa-close"></i>
          </p>
          <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/products/setAvailabilityToSprayGun/{id}/(id=${sprayGun.id})}" method="post">
              <button th:if="${sprayGun.isAvailable eq true}">Set Not Available</button>
              <button th:unless="${sprayGun.isAvailable eq true}">Set Available</button>
           </form>
          
          </div>
         
        </div>
       </div>
       <div>
                 </div>
                </div>
               </div>
              </div>
             </div>
             <br><br>
             
       <div>
       
         <h2>Matching Nozzles</h2>
       </div>
       <br><br>
       
        <div class='roomslist-center'>
             <article class='room' th:each="nozzle : ${sprayGun.nozzles}" >
            <div class='img-container'>
              <img th:src="${nozzle.imageUrl}" alt='sander image'/>
              <div class="price-top">
                  <h6 th:text = "${nozzle.price}"></h6>
                  <p>MKD</p>

              </div>
              <a th:href="@{/products/nozzle/{id}(id=${nozzle.id})}" class='btn-primary room-link'>
                  Details 
                  </a>
            </div>
            <p class='room-info' th:text="${nozzle.description} + ' ' + ${nozzle.nozzleSize.displayValue}"></p>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/products/disconectNozzleFromSprayGun/{id}/{nid}(id=${sprayGun.id}, nid=${nozzle.id})}" method="post">
            <button>Remove</button>
            </form>
        </article>

            </div>
    </section>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>